<form method='POST'>
    <% if( pageID == 'mysql' || pageID === 'postgres' || pageID == 'mysql-result' || pageID === 'postgres-result' ){ %>
        <h4><%= name %></h4>
    <% } %>
    <% if(pageID == 'home'){ %> 
  <fieldset class="form-group">
      <label for='name'>Login ID</label>
      <input type='text' name='name'  class="form-control" placeholder="Enter your login-id" required>
    </fieldset>
    <fieldset class="form-group">
      <label for='password'>Password</label>
      <input type='password' name='password'  class="form-control" placeholder="Enter password here" required>
    </fieldset>
  <% } %>
  <% if( pageID === 'home' ) { %> 
    <fieldset class="form-group">
        <label>Database</label>
        <select name="database" class="form-control" required> <!--Supplement an id here instead of using 'text'-->
            <option value="mysql" selected>MySQL</option>
            <option value="postgres">Postgres</option>
          </select>
    </fieldset>
    <fieldset class="form-group">
      <label for='filename'>File name</label>
      <input type='text' name='filename'  class="form-control" />
    </fieldset>
    <% } %>
    <% if ( pageID == 'mysql-result' || pageID === 'postgres-result' ) { %>
      
          <h4><%= name %></h4>
          <h4><%= pageID %></h4>
          <button type="submit" class="btn btn-primary">Go Back</button>
    <% } %>      
    <% if ( pageID === 'mysql' || pageID === 'postgres' || pageID == 'mysql-result') { %>
      <fieldset class="form-group">
        <label for='query'>Query</label>
        <textarea  class="form-control" name="query" rows="5" cols="50" placeholder="Write your query here" wrap="soft"></textarea>
      </fieldset>
<% } %>
<% if (pageID === 'home' || pageID === 'mysql' || pageID === 'postgres' || pageID === 'mysql-result') { %> 
  <button type="submit" class="btn btn-primary">Run</button>
   <% } %>
  </form>