    <fieldset class="form-group">
      <label for='query'>Query</label>
      <textarea  class="form-control" name="query" rows="3" cols="50" placeholder="Write your query here" wrap="soft"><% if(typeof query != 'undefined'){ %><%= query %><% } %></textarea>
    </fieldset>