<!doctype html>

<head>
  <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div class="container">
  <% include partials/template/maininput.ejs %>
</div>
  <% if(pageID==='mysql-result'||pageID==='postgres-result') { %>
    <% include partials/template/queryoutput.ejs %>
  <% } %>
  <% if(pageID==='queries-result') { %>
    <% include partials/template/multiqueryoutput.ejs %>
  <% } %>
      <% include partials/template/jsdefaults.ejs %>
</body>
</html>