<!doctype html>

<head>
  <% include partials/template/head.ejs %>
</head>
<style>
    body        { padding-top:80px; }
</style>
<body id="<%= pageID %>">
  <div class="container">
          <div class="col-sm-8 col-sm-offset-2">
  <% include partials/template/maininput.ejs %>
  <% if(typeof questions != undefined) { %>
    <% include partials/template/questions.ejs %>
  <% } %>
  <% if(pageID==='mysql-result'||pageID==='postgres-result') { %>
    <% include partials/template/queryoutput.ejs %>
  <% } %>
</div>    
    

  <% if(pageID==='queries-result') { %>
    <% include partials/template/multiqueryoutput.ejs %>
  <% } %>
</div>
      <% include partials/template/jsdefaults.ejs %>
</body>
</html>